<aside id="sidebar">

       <header>
           <h1> Hot Watches This Month </h1>
       </header>
            <div id="movie-container">
                <p>
                    ('2012', 'A frustrated writer struggles to keep his family alive when a series of global catastrophes threatens to annihilate mankind.', 2009)
                    <br>
                    <br>
                    <br>
                    ('3 Days to Kill', 'A dying CIA agent trying to reconnect with his estranged daughter is offered an experimental drug that could save his life in exchange for one last assignment.', 2014)
                    <br>
                    <br>
                    <br>
                    ('American Sniper', "Navy S.E.A.L. sniper Chris Kyle's pinpoint accuracy saves countless lives on the battlefield and turns him into a legend. Back home to his wife and kids after four tours of duty, however, Chris finds that it is the war he can't leave behind.", 2014)

                </p>
            </div>

</aside>